<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="main.js"></script>
    <title>Contacts Infor</title> 
</head>
<body>
    <div id="wrapper" ng-app="myApp" ng-controller="myCtrl">
        <div class="container">            
            <div class="row justify-content-center">
                <form action="#" class="col-md-6 bg-light p-3 my-4" name="myForm">
                    <p class="text-right"><a href="" ng-click="show()">User List</a></p>
                    <h1 class="text-center text-uppercase h3 py-3">Sign up for an account</h1>
                      <!-- Name -->
                    <div class="form-group">
                        <label class="font-weight-bold">Name:</label>
                        <input type="text" name="name" ng-model="newContact.name"
                        class="form-control" placeholder="Enter Name" required
                        ng-class="{'is-invalid': myForm.name.$invalid && !myForm.name.$pristine}">
                        <p class="invalid-feedback" ng-show="myForm.name.$invalid && !myForm.name.$pristine"> 
                            Please enter your name.
                        </p>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label class="font-weight-bold">Email:</label>
                        <input type="email" name="email" ng-model="newContact.email"
                        class="form-control" placeholder="Enter Email" required
                        ng-class="{'is-invalid': myForm.email.$invalid && !myForm.email.$pristine}">
                        <p class="invalid-feedback" ng-show="myForm.email.$invalid && !myForm.email.$pristine"> 
                            Enter a valid email.
                        </p>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label class="font-weight-bold">Password:</label>
                        <input type="password" name="password" ng-model="newContact.password"
                        class="form-control" placeholder="Enter Password" required
                        ng-class="{'is-invalid': myForm.password.$invalid && !myForm.password.$pristine}">
                        <p class="invalid-feedback" ng-show="myForm.password.$invalid && !myForm.password.$pristine"> 
                            Please enter your password.
                        </p>
                    </div>
                    <!-- Phone -->
                    <div class="form-group" >
                        <label class="font-weight-bold">Phone:</label>
                        <input type="number" name="phone" ng-model="newContact.phone"
                        class="form-control" placeholder="Enter Phone" required
                        ng-class="{'is-invalid': myForm.phone.$invalid && !myForm.phone.$pristine}">
                        <p class="invalid-feedback" ng-show="myForm.phone.$invalid && !myForm.phone.$pristine"> 
                            Please enter your phone.
                        </p>
                    </div>
                    <!-- ID -->
                    <div class="form-group">
                        <input type="hidden" ng-model="newContact.Id">
                    </div>
                    <!-- Submit -->
                    <input type="submit" value="Submit" ng-click="addContact()"
                    class="btn-primary btn mt-3 mb-1" ng-disabled="myForm.name.$invalid && myForm.name.$pristine ||
                    myForm.email.$invalid && myForm.email.$pristine || myForm.password.$invalid && myForm.password.$pristine ||
                    myForm.phone.$invalid && myForm.phone.$pristine">
                </form>
            </div>
            <!-- Table Contacts -->
            <div class="row justify-content-center" ng-show="showMe" >
                <h1 class="text-center text-uppercase my-5">Table contact</h1>
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-info">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Phone</th>
                        <th>Acion</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in contacts">
                            <td>{{contact.name}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{contact.password}}</td>
                            <td>{{contact.phone}}</td>
                            <td class="">
                                <a href="#" role="button" class="btn btn-info" ng-click="edit(contact.id)">Edit</a>
                                <a href="#" role="button" class="btn btn-danger" ng-click="delete(contact.id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>