<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Table contact</title>
</head>
<body>
    
    <h1 class="text-center text-uppercase my-5">Table contact</h1>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-info">
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Phone</th>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.password}}</td>
            <td>{{contact.phone}}</td>
        </tr>
    </tbody>
</table>
</body>
</html>